<%- include layout/header.ejs %>

<body>
  <form class=""  method="post">
    <input type="text" name="manufactured" value=""><label for="manufactured">Производитель</label><br>
    <input type="text" name="model" value=""><label for="model">Модель</label><br>
    <input type="number" name="power" value=""><label for="power">Мошшность</label><br>
    <button type="submit" name="submit">Отправить</button>
  </form>
</body>

<%- include layout/footer.ejs %>
